@model YummyProject.Models.ContactInfo
@{
    ViewBag.Title = "İletişim Bilgisi Güncelle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İletişim Bilgisi Güncelle</h2>
<br />

<form method="post">
    <input type="hidden" name="ContactInfoId" value="@Model.ContactInfoId" />

    <div class="form-group">
        <label>Adres</label>
        <textarea name="Address" class="form-control" rows="3" required>@Model.Address</textarea>
    </div>
    <br />
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="Email" class="form-control" value="@Model.Email" required />
    </div>
    <br />
    <div class="form-group">
        <label>Telefon</label>
        <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" required />
    </div>
    <br />
    <div class="form-group">
        <label>Harita URL</label>
        <input type="text" name="MapUrl" class="form-control" value="@Model.MapUrl" />
    </div>
    <br />
    <div class="form-group">
        <label>Çalışma Saatleri</label>
        <input type="text" name="OpenHours" class="form-control" value="@Model.OpenHours" required />
    </div>
    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>
    <a href="/ContactInfo/Index" class="btn btn-secondary">Geri Dön</a>
</form>